/*
 Advertisement stylesheets applicable everywhere.
 They respond to the display size and hence support responsive ads from Google.
 */
.promo, .ad {
  position: relative;
  margin-bottom: 1rem !important;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fafafa;
}

.promo-container, .ad-container {
  &-framed {
    padding: 1rem;
    box-sizing: content-box;
    background: $section-bg;
    border-radius: 3px;
    border: 1px solid $section-highlight;

    &:before {
      content: 'ADVERTISEMENT';
      padding-bottom: 0.25rem;
      position: relative;
      font-weight: bold;
      font-size: 1.1rem;
      display: block;
      text-align: left;
    }

    .promo {
      margin-bottom: 0 !important;
    }
  }
}

.promo, .ad {
  &-desktop-300x600 {
    min-width: 300px;
    width: 300px;
    max-width: 300px;
    height: 600px;
  }

  &-desktop-160x600 {
    min-width: 160px;
    width: 160px;
    max-width: 160px;
    height: 600px;
  }

  &-desktop-728x90 {
    min-width: 728px;
    width: 728px;
    max-width: 728px;
    height: 90px;
    margin-left: auto;
    margin-right: auto;
  }

  &-dummy {
    &:before {
      content: 'AD';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      font-size: 1.2rem;
      line-height: 1.2rem;
      padding: 0.4rem;
    }
  }
}

// Warning message for enabled ad blockers
.promo-container .block-note, .ad-container .block-note {
  font-size: 1.4rem;
  display: none;
  padding: 0.5rem;
  align-items: center;

  .block-note-icon {
    font-size: 4rem;
    margin-right: 1rem;
    color: #f64627;
  }

  &.block-note-show {
    display: flex !important;
  }
}

// Ad block detection
.loading-done .promo-container {
  // This generally detects various methods of ad blocking, such as simply hiding an element, blocking loading and removing it
  .block-note:only-child,
  .promo-content:not([data-google-query-id]) + .block-note,
  .promo-content[hidden] + .block-note,
  *:not(.promo-content) + .block-note {
    display: flex !important;
  }

  .promo-content:not([data-google-query-id]) {
    display: none !important;
  }
}

.loading-done .ad-container {
   // This generally detects various methods of ad blocking, such as simply hiding an element, blocking loading and removing it
   .block-note:only-child,
   .adsbygoogle:not([data-adsbygoogle-status]) + .block-note,
   .adsbygoogle[hidden] + .block-note,
   *:not(.adsbygoogle) + .block-note {
     display: flex !important;
   }

   .adsbygoogle:not([data-adsbygoogle-status]) {
     display: none !important;
   }
 }

@media screen and (max-width: $mobile-break) {
  .promo, .ad {
    &-desktop-300x600, &-desktop-160x600 {
      min-width: 728px;
      width: 728px;
      max-width: 728px;
      height: 90px;
      margin-left: auto;
      margin-right: auto;
    }
  }

  .promo-container .block-note, .ad-container .block-note {
    flex-direction: column;

    .block-note-icon {
      margin-right: 0;
      margin-bottom: 1rem;
    }
  }
}

@media screen and (max-width: 767px) {
  .promo, .ad {
    &-desktop-300x600, &-desktop-160x600 {
      min-width: 300px;
      width: 300px;
      max-width: 300px;
      min-height: 250px;
      height: 250px;
      max-height: 250px;
      margin-left: auto;
      margin-right: auto;
    }

    &-desktop-728x90 {
      min-width: 320px;
      width: 320px;
      max-width: 320px;
      min-height: 100px;
      height: 100px;
      max-height: 100px;
      margin-left: auto;
      margin-right: auto;
    }
  }
}
