/*
 Advertisement stylesheets applicable everywhere.
 They respond to the display size and hence support responsive ads from Google.
 */
.ad {
  position: relative;
  margin-bottom: 1rem !important;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fafafa;
}

.ad-container {
  &-framed {
    padding: 1rem;
    box-sizing: content-box;
    background: $section-bg;
    border-radius: 3px;
    border: 1px solid $section-highlight;

    &:before {
      content: 'ADVERTISEMENT';
      padding-bottom: 0.25rem;
      position: relative;
      font-weight: bold;
      font-size: 1.1rem;
      display: block;
      text-align: left;
    }

    .ad {
      margin-bottom: 0 !important;
    }
  }
}

.ad-desktop-300x600 {
  min-width: 300px;
  width: 300px;
  max-width: 300px;
  height: 600px;
}

.ad-desktop-160x600 {
  min-width: 160px;
  width: 160px;
  max-width: 160px;
  height: 600px;
}

.ad-desktop-728x90 {
  min-width: 728px;
  width: 728px;
  max-width: 728px;
  height: 90px;
  margin-left: auto;
  margin-right: auto;
}

.ad-dummy {
  &:before {
    content: 'AD';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    font-size: 1.2rem;
    line-height: 1.2rem;
    padding: 0.4rem;
  }
}

// Warning message for enabled ad blockers
.ad-container .block-note {
  font-size: 1.4rem;
  display: none;
  color: #f64627;
  padding: 0.5rem;
  align-items: center;

  .block-note-icon {
    font-size: 4rem;
    margin-right: 1rem;
  }
}

// Ad block detection
.loading-done .ad-container {
  // This generally detects various methods of ad blocking, such as simply hiding an element, blocking loading and removing it
  .block-note:only-child,
  .adsbygoogle:not([data-adsbygoogle-status]) + .block-note,
  .adsbygoogle[hidden] + .block-note,
  *:not(.adsbygoogle) + .block-note {
    display: flex !important;
  }
}

@media screen and (max-width: $mobile-break) {
  .ad-desktop-300x600, .ad-desktop-160x600 {
    min-width: 728px;
    width: 728px;
    max-width: 728px;
    height: 90px;
    margin-left: auto;
    margin-right: auto;
  }

  .ad-container .block-note {
    flex-direction: column;

    .block-note-icon {
      margin-right: 0;
      margin-bottom: 1rem;
    }
  }
}

@media screen and (max-width: 767px) {
  .ad-desktop-300x600, .ad-desktop-160x600 {
    min-width: 300px;
    width: 300px;
    max-width: 300px;
    min-height: 250px;
    height: 250px;
    max-height: 250px;
    margin-left: auto;
    margin-right: auto;
  }

  .ad-desktop-728x90 {
    min-width: 320px;
    width: 320px;
    max-width: 320px;
    min-height: 100px;
    height: 100px;
    max-height: 100px;
    margin-left: auto;
    margin-right: auto;
  }
}
