$font-family-base: 'Source Sans Pro', sans-serif !default;
$font-size-root: 14px !default;
$font-size-base: 1rem !default;
$line-height-base: 1.4 !default;

$table-bg: transparent !default;
$table-cell-padding: .75rem !default;

$abbr-border-color: #818a91 !default;
$dt-font-weight: bold !default;
$cursor-disabled: not-allowed !default;