@import url("https://fonts.googleapis.com/css?family=Roboto+Slab:300,400,700");

.docs-entry {
  background: $section-bg;
  box-shadow: 0 1px 2px $section-highlight;
  border-radius: 3px;
  padding: 1rem;
  overflow-x: auto;
  width: 100%;
  max-width: 100%;

  h1, h2, h3, h4, h5, h6 {
    margin: 0 0 0.5rem;
    font-family: "Roboto Slab", serif;

    code {
      background: none;
      border: none;
      padding: 0 0.25rem;
      font-size: inherit;
      font-weight: normal;
      color: inherit;
    }
  }

  h1, h2 {
    border-bottom: 1px solid $section-highlight;
    padding-bottom: 0.625rem;
  }

  h1 {
    font-size: 1.6rem;
  }

  h2 {
    font-size: 1.4rem;
    margin: 1rem 0 0.5rem;
  }

  h3 {
    color: $accent2;
    font-weight: normal;
  }

  ul, ol, dl {
    padding-left: 1.4rem;
  }

  p, pre, table {
    margin-bottom: 0.625rem;
  }

  p, ul, ol, dl {
    text-align: justify;

    code {
      white-space: pre;
      word-wrap: normal;
    }
  }
}

.docs-entry-footer-buttons {
  margin-top: 1rem;
}

section.sidebar-nav > ul {
  .elem-toc {
    background: rgba(0, 0, 0, 0.05);
    padding: 0 !important;

    & > .elem-text {
      padding: 0.2rem 0.5rem;
    }
  }

  .table-of-contents {
    background: none !important;
    font-size: 0.9rem !important;

    .toc-item, .toc-subitem {
      padding-left: 1rem;
    }
  }
}

.float-right {
  float: right;
}

.float-left {
  float: left;
}

.admonition {
  border-radius: 3px;
  box-shadow: 0 1px 2px $section-highlight;
  margin-bottom: 0.625rem;
  background: #c8e7fa;

  p {
    padding: 0 1rem;
  }

  pre {
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .admonition-title {
    font-weight: bold;
    padding: 0.2rem 1rem;
    font-size: 1.2rem;
    color: $pagination-color;
    margin: 0;
    border-radius: 3px 3px 0 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }

  & > *:nth-child(2) {
    margin-top: 0.5rem;
  }

  & > *:not(pre):last-child {
    padding-bottom: 0.5rem;
  }

  // Admonition colors are constructed using the base theme colors
  @function admonition-bg($hue) {
    @return hsl($hue, saturation($accent5), lightness($scrollbar-track-bg));
  }

  @function admonition-title-bg($hue) {
    $base: admonition-bg($hue);
    @return saturate(hsl(hue($base), saturation($base), lightness($scrollbar-drag-bg)), 5%);
  }

  @mixin admonition($hue) {
    background: admonition-bg($hue);

    .admonition-title {
      background: admonition-title-bg($hue);
    }
  }

  &.note {
    @include admonition(206);
  }

  &.important {
    @include admonition(168);
  }

  &.warning, &.attention {
    @include admonition(30);
  }
}

.injected {
  display: none;
}

// Highlight JS
.hljs {
  display: block;
  overflow-x: auto;
  -webkit-text-size-adjust: none
}

.headerlink {
  display: inline-block;
  margin-left: 0.5rem;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  &:before {
    content: "\f0c1";
  }
}

@media screen and (max-width: $mobile-break) {
  table {
    display: block;
    overflow-x: auto;
  }
}