/*
 Styles specific to the downloads page
 */
.promos-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  .promos-content {
    align-self: stretch;
  }
}

.downloads {
  position: relative;
  display: flex;
  justify-content: center;
  padding: 0;
  margin-bottom: 1rem;
  align-items: flex-start;
}

.downloads div.download {
  min-width: 350px;
  max-width: 350px;
  color: #eeeeee;
  padding: 0;
  position: relative;
  text-decoration: none;
  transition: background 0.2s ease-in-out;
  text-align: center;
  font-size: 1.5rem;
  box-shadow: 0 1px 2px $section-highlight;
  border-radius: 3px;
  margin: 0 1rem;

  small {
    font-size: 1rem;
  }

  i {
    position: relative;
    margin-right: 5px;
    top: 2px;
  }

  .title {
    position: relative;
    background-color: $accent1;
    border-radius: 3px 3px 0 0;
    padding: 10px;
    line-height: 1.2rem;
  }

  .links {
    position: relative;
    background: $section-bg;
    border-radius: 0 0 3px 3px;
    border-top: 1px solid $section-highlight;
    margin: 0;
    display: flex;
    align-items: stretch;

    .link {
      flex-grow: 1;
    }

    a {
      position: relative;
      box-sizing: border-box;
      font-size: 1rem;
      width: 100%;
      height: 100%;
      text-decoration: none;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 0.75rem;
      border-right: 1px solid $section-highlight;
      color: $body-color;
      transition: background 0.2s ease-in-out;

      &:hover {
        background-color: rgba(0, 0, 0, 0.1);
      }

      &:active {
        background-color: rgba(0, 0, 0, 0.1);
        box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.2);
      }

      i {
        width: 28px;
        margin: 0;
        font-size: 1.75em;
      }

      .promo-label {
        display: block;
        margin-top: 5px;
        font-size: 0.8em;
      }
    }

    .link:first-child a {
      border-bottom-left-radius: 3px;
    }

    .link:last-child a {
      border-bottom-right-radius: 3px;
      border-right: 0;
    }

    &-split {
      .link-left, .links-right {
        flex-grow: 1;
        flex-shrink: 0;
        flex-basis: 0;
      }

      .link-left {
        position: relative;

        a {
          border-bottom-left-radius: 3px;
          font-size: 1.5rem;
          position: absolute;
          top: 0;
          left: 0;
          bottom: 0;
          right: 0;
        }
      }

      .links-right {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        .link {
          flex-shrink: 0;
          flex-basis: 60px;

          a {
            padding: 0.7rem;
          }
        }

        .link:nth-child(2n) a {
          border-right: none;
        }

        .link:nth-child(n + 3) a {
          border-top: 1px solid $section-highlight;
        }

        .link:last-child a {
          border-bottom-right-radius: 3px;
        }
      }
    }
  }
}

.download-list {
  i {
    font-size: 0.875rem;
  }

  td:first-child {
    border-right: 1px solid $section-highlight;
  }

  .download-version {
    font-weight: bold;
    color: $accent2;
  }

  .download-links {
    margin: 0;
    padding: 0;
    display: flex;
    list-style-type: none;

    li {
      padding: 0 0.5rem;
      border-right: 1px solid $section-highlight;

      .download-classifier {
        margin-right: 0.25rem;
      }

      &:first-child {
        padding-left: 0;
      }

      &:last-child {
        padding-right: 0;
        border-right: none;
      }
    }

    a {
      color: $body-color;
      text-decoration: underline;

      &:hover {
        color: lighten($body-color, 5%);
        text-decoration: none;
      }
    }
  }
}

.download-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  .btn {
    margin-bottom: 1rem;
  }

  .download-list-wrapper {
    width: 100%;
  }
}

.download-disclaimer {
  width: 100%;
  margin-bottom: 0.5rem;

  h2 {
    margin: 0;
  }
}

.classifier-:before {
  content: "\f187";
}

.classifier-installer:before {
  content: "\f187";
}

.classifier-installer-win:before {
  content: "\f17a";
}

.classifier-dev:before {
  content: "\f079";
}

.classifier-sources:before {
  content: "\f121";
}

.classifier-src:before {
  content: "\f121";
}

.classifier-changelog:before {
  content: "\f15c";
}

.classifier-javadoc:before {
  content: "\f0f4";
}

.classifier-universal:before {
  content: "\f1c6";
}

.classifier-mdk:before {
  content: "\f126";
}

.classifier-userdev:before {
  content: "\f007";
}

.classifier-link:before {
  content: "\f0c1";
}

.promo-latest:before {
  content: "\f188"; // Bug
}

.promo-recommended:before {
  content: "\f005"; // Full Star
}

.marker-branch:before {
  content: "\f126"; // Fork
}

.ad-downloads-top {
  margin-bottom: 5rem !important;
}

.ad-downloads-bottom {
  margin-top: 5rem !important;
  margin-bottom: 3rem !important;
}

.info-link {
  cursor: pointer;
}

.info-tooltip {
  display: none;
}

@media screen and (max-width: 1440px) {
  .sidebar-wrapper {
    .sidebar-left.sidebar-sticky, .sidebar-sticky aside {
      min-width: 160px;
      max-width: 160px;
    }

    .sidebar-right {
      min-width: 190px;
      max-width: 190px;
    }
  }

  .sidebar-wrapper .sidebar-sticky-wrapper-content {
    max-width: calc(100% - 160px - 1rem);
  }

  .ad-downloads-right .ad {
    min-width: 160px;
    width: 160px;
    max-width: 160px;
    height: 600px;
  }
}

@media screen and (max-width: 1170px) {
  .downloads {
    flex-direction: column;
    align-items: center;

    div.download {
      margin: 0 0 1rem;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .ad-downloads-top .ad, .ad-downloads-bottom .ad {
    min-width: 320px;
    width: 320px;
    max-width: 320px;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
  }

  .download-list .download-links {
    flex-wrap: wrap;
  }
}

@media screen and (max-width: $mobile-break) {
  .promos-wrapper {
    flex-direction: column-reverse;

    .ad-downloads-top {
      margin: 3rem auto !important;
    }
  }

  .sidebar-wrapper {
    .sidebar-left.sidebar-sticky, .sidebar-sticky aside {
      min-width: 0;
      max-width: 100%;
    }
    .sidebar-sticky-wrapper-content, .sidebar-wrapper-content {
      max-width: 100%;
    }
  }

  .sidebar-wrapper .sidebar-right {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-left: 0;
    max-width: 100%;
  }
}

@media screen and (max-width: 960px) {
  .download-list {
    td:nth-child(2), th:nth-child(2) {
      display: none;
    }

    .download-version {
      width: auto;
    }

    .download-files {
      width: auto;
    }
  }
}

@media screen and (max-width: 768px) {
  .download-list {
    display: flex;
    flex-direction: column;
    align-items: stretch;

    thead {
      display: none;
    }

    thead.mobile-only {
      display: block !important;
    }

    tr {
      display: flex;
      flex-direction: column;
      align-items: stretch;

      &:last-child {
        td:first-child {
          border-radius: 0;
        }

        td:last-child {
          border-radius: 0 0 3px 3px;
        }
      }
    }

    td, th {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    td:first-child {
      padding-bottom: 0;
      border-right: none;
    }
  }
}

@media screen and (max-width: 640px) {
  .download-list .download-links {
    flex-direction: column;
    align-items: center;

    li {
      border-right: none;
    }
  }
}

@media screen and (max-width: 767px) {
  .ad-downloads-right {
    .ad {
      min-width: 300px;
      width: 300px;
      max-width: 300px;
      height: 250px;
      margin-left: auto;
      margin-right: auto;
    }
  }
}