/*
 Styles specific to the downloads page
 */
.downloads {
  position: relative;
  display: flex;
  justify-content: center;
  padding: 0;
  margin-bottom: 1rem;
}

.downloads div.download {
  min-width: 348px;
  color: #eeeeee;
  padding: 0;
  position: relative;
  text-decoration: none;
  transition: background 0.2s ease-in-out;
  text-align: center;
  font-size: 1.5rem;
  box-shadow: 0 1px 2px $section-highlight;
  border-radius: 3px;
  margin: 0 1rem;
}

.downloads div.download small {
  font-size: 1rem;
}

.downloads div.download i {
  position: relative;
  margin-right: 5px;
  top: 2px;
}

.downloads div.download .title {
  position: relative;
  background-color: $accent1;
  border-radius: 3px 3px 0 0;
  padding: 10px;
  line-height: 1.2rem;
}

.downloads div.download .links {
  position: relative;
  background: $section-bg;
  border-radius: 0 0 3px 3px;
  border-top: 1px solid $section-highlight;
  margin: 0;
  display: flex;
  align-items: stretch;
}

.downloads div.download .link {
  flex-grow: 1;
}

.downloads div.download .links a {
  position: relative;
  box-sizing: border-box;
  font-size: 1.75rem;
  width: 100%;
  height: 100%;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border-right: 1px solid $section-highlight;
  color: $body-color;
  transition: background 0.2s ease-in-out;
}

.downloads div.download .links a i {
  width: 28px;
  margin: 0;
}

.downloads div.download .links a:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.downloads div.download .links a:active {
  background-color: rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.2);
}

.downloads div.download .links .link:first-child a {
  border-bottom-left-radius: 3px;
}

.downloads div.download .links .link:last-child a {
  border-bottom-right-radius: 3px;
  border-right: 0;
}

.downloads div.download .links a .promo-label {
  display: block;
  margin-top: 5px;
  font-size: 0.8rem;
}

.download-list {
  i {
    font-size: 0.875rem;
  }

  td:first-child {
    border-right: 1px solid $section-highlight;
  }

  .download-version {
    font-weight: bold;
    color: $accent2;
  }

  .download-links {
    margin: 0;
    padding: 0;
    display: flex;
    list-style-type: none;

    li {
      padding: 0 0.5rem;
      border-right: 1px solid $section-highlight;

      .download-classifier {
        margin-right: 0.25rem;
      }

      &:first-child {
        padding-left: 0;
      }

      &:last-child {
        padding-right: 0;
        border-right: none;
      }
    }

    a {
      color: $body-color;
      text-decoration: underline;

      &:hover {
        color: lighten($body-color, 5%);
        text-decoration: none;
      }
    }
  }
}

.download-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  .btn {
    margin-bottom: 1rem;
  }

  .download-list-wrapper {
    width: 100%;
  }
}

.classifier-:before {
  content: "\f187";
}

.classifier-installer:before {
  content: "\f187";
}

.classifier-installer-win:before {
  content: "\f17a";
}

.classifier-dev:before {
  content: "\f079";
}

.classifier-sources:before {
  content: "\f121";
}

.classifier-src:before {
  content: "\f121";
}

.classifier-changelog:before {
  content: "\f15c";
}

.classifier-javadoc:before {
  content: "\f0f4";
}

.classifier-universal:before {
  content: "\f1c6";
}

.classifier-mdk:before {
  content: "\f126";
}

.classifier-userdev:before {
  content: "\f007";
}

.classifier-link:before {
  content: "\f0c1";
}

.promo-LATEST:before { /* full star */
  content: "\f123";
}

.promo-RECOMENDED:before { /* half-star */
  content: "\f005";
}

.marker-branch:before { /* bug */
  content: "\f188";
}

@media screen and (max-width: 1440px) {
  .downloads {
    flex-direction: column;

    div.download {
      min-width: 0;
      margin: 0 0 1rem;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .download-list .download-links {
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 960px) {
  .download-list {
    td:nth-child(2), th:nth-child(2) {
      display: none;
    }

    .download-version {
      width: auto;
    }

    .download-files {
      width: auto;
    }
  }
}

@media screen and (max-width: 768px) {
  .download-list {
    display: flex;
    flex-direction: column;
    align-items: stretch;

    thead {
      display: none;
    }

    thead.mobile-only {
      display: block !important;
    }

    tr {
      display: flex;
      flex-direction: column;
      align-items: stretch;

      &:last-child {
        td:first-child {
          border-radius: 0;
        }

        td:last-child {
          border-radius: 0 0 3px 3px;
        }
      }
    }

    td, th {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    td:first-child {
      padding-bottom: 0;
      border-right: none;
    }
  }
}

@media screen and (max-width: 640px) {
  .download-list .download-links {
    flex-direction: column;
    align-items: center;

    li {
      border-right: none;
    }
  }
}