$accent1: #26303d;
$accent2: #de9e59;
$accent3: #c9d44c;
$accent4: #cb3d35;
$accent5: #1b4e7e;
$accent6: #185b98;
$accent7: #DFA86A;

$body-bg: #EFF1F3 !default;
$body-color: #373a3c !default;
$section-bg: #fff !default;
$section-highlight: darken($section-bg, 14%) !default;
$section-content-bg: darken($section-bg, 2%);
$section-content-highlight: darken($section-bg, 4%);
$header-bg: #26303d;

$text-muted: #8c9195 !default;

$pagination-bg: #BCC1C5 !default;
$pagination-color: #fbf9f9 !default;

$thread-sticky: lighten($accent1, 75%);
$thread-locked: darken(#fff, 5%);

$link-color: $accent6 !default;
$link-decoration: none !default;
$link-hover-color: darken($accent6, 20%) !default;
$link-hover-decoration: none !default;

$scrollbar-track-bg: darken($section-bg, 15%);
$scrollbar-drag-bg: darken($section-bg, 30%);
$scrollbar-drag-hover-bg: $accent7;

.prettyprint {
  background-color: #ffffff;
  color: #000000;

  .lit { // literal
    color: #0000ff;
  }

  .kwd { // keyword
    font-weight: bold;
    color: #000080;
  }

  .typ { // type
    color: #20999d;
  }

  .str { // string
    color: #008000;
  }

  .pun { // punctuation
    color: #000000;
  }

  .com { // comment
    color: #808080;
    font-style: italic;
  }

  .pln { // plain
    color: #000000;
  }

  .dec { // declaration
    color: #000080;
  }

  .tag { // html tag
    color: #000080;
  }

  .atn { // html attribute name
    color: #0000ff;
  }

  .atv { // html attribute value
    color: #008000;
  }
}