/*
!/sass/
!/sass/*
!/images/
!/images/*
!/docs/
!/docs/*
!/js/
!/js/*
!/templates/
!/templates/*
!/gradle/
!/gradle/**
!/*.md
!/LICENSE
!/gradlew
!/gradlew.bat
!/build.gradle
/__pycache__/
/output_web/
*.bat
/meta.json
/meta.json.md5
/meta.json.sha1
*.json
/cache/
/output_meta/
/.venv/
/.idea/
