/__pycache__/
/output_web/
*.bat
/meta.json
/meta.json.md5
/meta.json.sha1
*.json
/cache/
/output_meta/
/.venv/
/.idea/
/build
/.gradle
/tstin/
/tstout/
/js/relativeTime.min.js
/out/
/python/__pycache__/
/test.sh
