<div class="wrapper">
    <footer>
        Copyright © 2017 by Forge Development LLC<br>
        Layout is designed by and used with permission from PaleoCrafter
        <div class="theme-switch-wrapper">
            Enable Dark Theme
            <label class="theme-switch">
                <input type="checkbox">
                <span class="slider round"></span>
            </label>
        </div>
    </footer>
</div>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script type="text/javascript" src="https://use.fontawesome.com/a1f20be65b.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery-mousewheel/3.1.13/jquery.mousewheel.min.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jScrollPane/2.0.23/script/jquery.jscrollpane.min.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/stickyfill/1.1.4/stickyfill.min.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/tooltipster/3.3.0/js/jquery.tooltipster.min.js"></script>
<script type="text/javascript" src="https://files.minecraftforge.net/maven/manage/static/js/merged.js"></script>
{% if md.analytics %}{{ md.analytics }}{% endif %}
</body>
</html>
