<div class="wrapper">
    <footer>
        Copyright © 2018-{{ now.year }} by Forge Development LLC &middot; Ads by Longitude Ads LLC &middot; <a href="https://status.minecraftforge.net">Status</a> &middot; <a href="{{ static_root }}privacy.html">Privacy Information</a> {%- if md.global_config['ad_footer'] %}{{ md.global_config['ad_footer'] }}{%- endif %}<br>
        Layout is designed by and used with permission from PaleoCrafter
        <div class="theme-switch-wrapper">
            Enable Dark Theme
            <label class="theme-switch">
                <input type="checkbox">
                <span class="slider round"></span>
            </label>
        </div>
    </footer>
</div>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script type="text/javascript" src="https://use.fontawesome.com/a1f20be65b.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jScrollPane/2.0.23/script/jquery.jscrollpane.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/tooltipster/3.3.0/js/jquery.tooltipster.min.js"></script>
{%- if md.global_config['enable_adsense'] %}
    <script type="text/javascript" src="{{ static_root }}js/merged-google.js?{{ now.timestamp() }}"></script>
{%- else %}
    <script type="text/javascript" src="{{ static_root }}js/merged-curse.js?{{ now.timestamp() }}"></script>
{%- endif %}
{% if artifact and artifact.config['analytics'] %}{{ artifact.config['analytics'] }}{% endif %}

{%- if artifact and artifact.config['body_end'] %}
    {%- for line in artifact.config['body_end'] %}
        {{ line }}
    {%- endfor %}
{%- endif %}
</body>
</html>
